/************************* new look css *****************************/

body {
  font-family: 'Montserrat', sans-serif !important;
}

input,
button,
select,
textarea {
  font-family: 'Montserrat', sans-serif !important;
}

.sidemenu {
  background-color: $sidemenu-background-color !important;
  box-shadow: -4px 6px 8px 0px #3b4859;
  position: absolute !important;
  top: 51px !important;
  height: calc(100% - 51px) !important;
  transition: width 0.3s !important;

  .sidemenu-search-container {
    padding-top: 11px;
    height: 48px;
    width: 240px;

    .gf-form--has-input-icon {
      margin-left: 10px;
      margin-right: 0px;

      .sidemenu-search-box {
        width: 173px;
        height: 30px;
        background-color: $sidemenu-search-background-color;
        margin-right: 20px;
        border-color: #8392a7;
      }

      ::-webkit-input-placeholder {
        /* Edge */
        color: $sidemenu-search-placeholder-color;
      }

      :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $sidemenu-search-placeholder-color;
      }

      ::placeholder {
        color: $sidemenu-search-placeholder-color;
      }

      i {
        color: $sidemenu-search-icon-color;
      }
    }

    .side-menu-toggle {
      display: inline-block;
      color: $sidemenu-toggle-color;
      cursor: pointer;
    }
  }

  .open-menu,
  .close-menu {
    transition: width 0.3s, opacity 0.3s;
    position: absolute;
    top: 0px;
    background: $sidemenu-background-color !important;
  }

  .open-menu {
    width: 0px;
    opacity: 0;
    display: none;

    .menu-item,
    .menu-item-header {
      display: none;
    }
  }

  .close-menu {
    display: block;
    width: 100%;
    opacity: 1;

    .sidemenu-search-container {
      width: 100%;

      .side-menu-toggle {
        padding-left: 19px;
        padding-top: 7px;
      }
    }

    .menu-item {
      padding: 14px 0px 14px 12px;
      display: block;
    }

    .menu-item-header {
      height: 49px;
      width: 100%;
      display: block;
    }

    .menu-item-text {
      display: none !important;
    }

    .item {
      position: relative;

      .sub-menu {
        display: none;
        position: absolute;
        left: 100%;
        top: 0px;
        background-color: $sidemenu-submenu-background-color;
        padding: 10px 0;
        width: 170px;
        list-style: none;

        li {
          display: block;
          padding: 0 0 5px 0;

          a {
            display: block;
            color: #3b4859;
            font-size: 13px;
            padding: 5px 15px;

            i {
              color: #3b7cff;
              display: inline-block;
              padding-right: 5px;
            }

            .menu-item-text {
              display: inline-block !important;
            }
          }
        }
      }

      &:hover .sub-menu {
        display: block;
      }
    }
  }

  .menu-item {
    &.active,
    &:hover {
      background-color: $sidemenu-link-background-hover-color;
    }

    .menu-item-image {
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: contain;
      vertical-align: top;
    }

    .menu-item-text {
      display: inline-block;
      padding-left: 10px;
      color: $sidemenu-link-text-color;
      vertical-align: top;
    }

    .overview {
      background-image: url('../img/monitor-icons/overview.svg');
    }

    .activity-log {
      background-image: url('../img/monitor-icons/activity-log.svg');
    }

    .alerts {
      background-image: url('../img/monitor-icons/alerts.svg');
    }

    .metrics {
      background-image: url('../img/monitor-icons/metrics.svg');
    }

    .logs {
      background-image: url('../img/monitor-icons/logs.svg');
    }

    .service-health {
      background-image: url('../img/monitor-icons/service-health.svg');
    }

    .workbooks {
      background-image: url('../img/monitor-icons/workbooks.svg');
    }

    .applications {
      background-image: url('../img/monitor-icons/applications.svg');
    }

    .virtual-machines {
      background-image: url('../img/monitor-icons/virtual-machines.svg');
    }

    .networks {
      background-image: url('../img/monitor-icons/networks.svg');
    }

    .jobs {
      background-image: url('../img/monitor-icons/jobs.svg');
    }

    .diagnostic-settings {
      background-image: url('../img/monitor-icons/diagnostic-settings.svg');
    }
  }
}

.wide-side-menu {
  .sidemenu {
    width: 240px !important;

    .open-menu {
      width: 100%;
      opacity: 1;
      display: block;

      .menu-item {
        padding: 14px 0px 14px 33px;
        display: flex;
      }

      .menu-item-header {
        background-color: $sidemenu-header-background-color;
        padding: 14px 0px 14px 20px;
        color: $sidemenu-header-text-color;
        font-size: 14px;
        display: block;
      }

      .item {
        position: relative;

        .sub-menu {
          display: none;
          position: absolute;
          left: 100%;
          top: 0px;
          background-color: $sidemenu-submenu-background-color;
          padding: 10px 0;
          width: 170px;
          list-style: none;

          li {
            display: block;
            padding: 0 0 5px 0;

            a {
              display: block;
              color: #3b4859;
              font-size: 13px;
              padding: 5px 15px;

              i {
                color: #3b7cff;
                display: inline-block;
                padding-right: 5px;
              }
            }
          }
        }

        &:hover .sub-menu {
          display: block;
        }
      }
    }

    .close-menu {
      width: 0px;
      opacity: 0;

      .menu-item,
      .menu-item-header {
        display: none;
      }
    }
  }
}
