$mobile-menu-breakpoint: md;

.sidemenu {
  position: fixed;
  display: flex;
  flex-flow: column;
  flex-direction: column;
  width: $side-menu-width;
  z-index: $zindex-sidemenu;
  a:focus {
    text-decoration: none;
  }

  .sidemenu__logo_small_breakpoint {
    display: none;
  }

  .sidemenu__close {
    display: none;
  }

  @include media-breakpoint-up($mobile-menu-breakpoint) {
    background: $side-menu-bg;
    // height: auto;
    // box-shadow: $side-menu-shadow;
    // position: relative;
    z-index: $zindex-sidemenu;
    // new look changes
    position: absolute;
    top: 51px;
    height: calc(100% - 51px);
    transition: width 0.3s;
  }
}

// body class that hides sidemenu
.sidemenu-hidden {
  .sidemenu {
    display: none;
  }
}

.sidemenu__top {
  padding-top: 40px;
  flex-grow: 1;
}

.sidemenu__bottom {
  padding-bottom: $spacer;
}

.sidemenu__top,
.sidemenu__bottom {
  display: none;

  @include media-breakpoint-up($mobile-menu-breakpoint) {
    display: block;
  }
}

.sidemenu-item {
  position: relative;
  @include left-brand-border();

  @include media-breakpoint-up($mobile-menu-breakpoint) {
    &.active,
    &:hover {
      background-color: $side-menu-item-hover-bg;
      @include left-brand-border-gradient();

      .dropdown-menu {
        margin: 0;
        display: block;
        opacity: 0;
        top: 0px;
        // important to overlap it otherwise it can be hidden
        // again by the mouse getting outside the hover space
        left: $side-menu-width - 2px;
        @include animation('dropdown-anim 150ms ease-in-out 100ms forwards');
        z-index: $zindex-sidemenu;
      }
    }
  }
}

.dropup.sidemenu-item:hover .dropdown-menu {
  top: auto !important;
}

.sidemenu-link {
  color: $link-color;
  line-height: 42px;
  padding: 0px 10px 0px 10px;
  display: block;
  position: relative;
  font-size: 16px;
  border: 1px solid transparent;
  text-align: center;

  img {
    border-radius: 50%;
    width: 28px;
    height: 28px;
    box-shadow: 0 0 14px 2px rgba(255, 255, 255, 0.05);
  }
}

@include keyframes(dropdown-anim) {
  0% {
    opacity: 0;
    //transform: translate3d(-5%,0,0);
  }
  100% {
    opacity: 1;
    //transform: translate3d(0,0,0);
  }
}

.icon-circle {
  width: 35px;
  height: 35px;
  display: inline-block;

  .fa,
  .icon-gf,
  .gicon {
    color: $side-menu-link-color;
    position: relative;
    opacity: 0.7;
    font-size: 130%;
    height: 22px;
    width: 22px;
  }

  .fa {
    top: 2px;
    position: relative;
  }

  .icon-gf {
    top: 5px;
  }

  img {
    position: relative;
  }
}

.side-menu-header {
  padding: 10px 10px 10px 20px;
  white-space: nowrap;
  background-color: $side-menu-item-hover-bg;
  font-size: 17px;
  color: #ebedf2;
}

.side-menu-header-link {
  // Removes left-brand-border-gradient from link
  color: #ebedf2 !important;
  border: none !important;
  padding: 0 !important;
}

.dropdown-menu--sidemenu > li > .side-menu-header-link:hover {
  // Makes sure it looks good on light theme
  color: #fff !important;
  background-color: $side-menu-item-hover-bg !important;
}

.sidemenu-subtitle {
  padding: $space-sm $space-md $space-sm;
  font-size: $font-size-sm;
  color: $text-color-weak;
  border-bottom: 1px solid $dropdownDividerBottom;
  margin-bottom: $space-xs;
  white-space: nowrap;
}

li.sidemenu-org-switcher {
  border-bottom: 1px solid $dropdownDividerBottom;
}

.sidemenu-org-switcher__org-name {
  font-size: $font-size-base;
}

.sidemenu-org-switcher__org-current {
  font-size: $font-size-xs;
  color: $text-color-weak;
  position: relative;
  top: -2px;
}

.sidemenu-org-switcher__switch {
  font-size: $font-size-sm;
  padding-left: $space-lg;
  display: flex;
  align-items: center;
  > i.fa.fa-random {
    margin-right: $space-xs;
    top: 1px;
  }
}

.sidemenu__logo {
  display: block;
  padding: 6px 14px 6px 9px;
  min-height: $navbarHeight;
  position: relative;
  height: $navbarHeight - 1px;

  &:hover {
    // background: $navbarButtonBackgroundHighlight;
  }

  img {
    width: 30px;
    position: relative;
    top: 5px;
    left: 4px;
  }
}

@include media-breakpoint-down(sm) {
  .sidemenu-open--xs {
    li {
      font-size: $font-size-md;
    }

    .sidemenu {
      width: 100%;
      background: $side-menu-bg-mobile;
      height: auto;
      box-shadow: $side-menu-shadow;
      position: relative;
      z-index: $zindex-sidemenu;
    }

    .sidemenu__close {
      display: block;
      font-size: $font-size-md;
      position: relative;
      top: -3px;
    }

    .sidemenu__top,
    .sidemenu__bottom {
      display: block;
    }
    .sidemenu-item {
      border-right: 2px solid transparent;
    }
  }

  .sidemenu {
    .sidemenu__logo {
      display: none;
    }

    .sidemenu__logo_small_breakpoint {
      padding: 14px 10px 26px 13px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: baseline;

      .fa-bars {
        font-size: 25px;
      }
    }

    .sidemenu__top {
      padding-top: 0;
    }

    .side-menu-header {
      padding-left: 10px;
    }

    .sidemenu-link {
      text-align: left;
    }

    .sidemenu-icon {
      display: none;
    }

    .dropdown-menu--sidemenu {
      display: block;
      position: unset;
      width: 100%;
      float: none;
      margin-bottom: $space-sm;

      > li > a {
        padding-left: 15px;
      }
    }

    .sidemenu__bottom {
      .dropdown-menu--sidemenu {
        display: flex;
        flex-direction: column-reverse;
      }
    }
  }
}

/********************* Plugin container *****************************/

.sidemenu-plugin-container {
  width: 450px;
  height: 225px;
  padding: 20px;
  .search-box-container {
    margin-bottom: 20px;
  }
  .plugin-item {
    width: 25%;
    display: inline-block;
    margin-bottom: 10px;
    padding: 5px;
    img {
      width: 40px;
      height: 40px;
    }
    .icon-circle {
      width: initial !important;
      height: initial !important;
    }
    .plugin-name {
      font-size: 13px;
      line-height: initial !important;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $plugin-item-font-color !important;
      margin-top: 5px;
    }
  }
  .plugin-item:hover {
    background-color: $plugin-item-hover;
    .plugin-name {
      color: $plugin-item-font-color-hover !important;
    }
  }
}

/************************* new look css *****************************/

.sidemenu{
  background-color: #F5F8FC !important;
  .sidemenu-search-container{
    padding-top: 11px;
    height: 48px;
    width: 240px;
    .gf-form--has-input-icon{
      margin-left: 10px;
      margin-right: 0px;
      .sidemenu-search-box{
        width: 173px;
        height: 30px;
        background-color: #FFFFFF;
        margin-right: 20px;
        border-color: #8392A7;
      }
      ::-webkit-input-placeholder { /* Edge */
        color: #8998AC;
      }
      
      :-ms-input-placeholder { /* Internet Explorer 10-11 */
        color: #8998AC;
      }
      
      ::placeholder {
        color: #8998AC;
      }
      i{
        color: #8392A7;
      }
    }
    .side-menu-toggle{
      display: inline-block;
      color: #8998AC;
      cursor: pointer;
    }
  }
  .open-menu, .close-menu{
    transition: width 0.3s, opacity 0.3s;
    position: absolute;
    top: 0px;
    background: #F5F8FC !important;
  }
  .open-menu{
    width: 0px;
    opacity: 0;
    .menu-item,.menu-item-header{
      display: none;
    }
  }
  .close-menu{
    display: block;
    width: 100%;
    opacity: 1;
    .sidemenu-search-container{
      width: 100%;
      .side-menu-toggle{
        padding-left: 19px;
        padding-top: 7px;
      }
    }
    .menu-item{
      padding: 14px 0px 14px 12px;
      display: block;
    }
    .menu-item-header{
      height: 48px;
      width: 100%;
      display: block;
    }
  }
  .menu-item{
    &.active,&:hover{
      background-color: #F0F3F7;
    }
    .menu-item-image{
      display: inline-block;
      width: 20px;
      height: 20px;
      background-size: contain;
    }
    .menu-item-text{
      display: inline-block;
      padding-left: 10px;
      color: #3B4859;
    }
    .overview{
      background-image:url("../img/monitor-icons/overview.svg");
    }
    .activity-log{
      background-image:url("../img/monitor-icons/activity-log.svg");
    }
    .alerts{
      background-image:url("../img/monitor-icons/alerts.svg");
    }
    .metrics{
      background-image:url("../img/monitor-icons/metrics.svg");
    }
    .logs{
      background-image:url("../img/monitor-icons/logs.svg");
    }
    .service-health{
      background-image:url("../img/monitor-icons/service-health.svg");
    }
    .workbooks{
      background-image:url("../img/monitor-icons/workbooks.svg");
    }
    .applications{
      background-image:url("../img/monitor-icons/applications.svg");
    }
    .virtual-machines{
      background-image:url("../img/monitor-icons/virtual-machines.svg");
    }
    .networks{
      background-image:url("../img/monitor-icons/networks.svg");
    }
    .jobs{
      background-image:url("../img/monitor-icons/jobs.svg");
    }
    .diagnostic-settings{
      background-image:url("../img/monitor-icons/diagnostic-settings.svg");
    }
  }
}

.wide-side-menu {
  .sidemenu {
    width: 240px !important;
    .open-menu{
      width: 100%;
      opacity: 1;
      .menu-item{
        padding: 14px 0px 14px 33px;
        display: flex;
      }
      .menu-item-header{
        background-color: #FFFFFF;
        padding: 14px 0px 14px 20px;
        color: #3B4859;
        font-size: 14px;
        display: block;
      }
    }
    .close-menu{
      width: 0px;
      opacity: 0;
      .menu-item,.menu-item-header{
        display: none;
      }
    }
  }
}