/******************** Css for new look ******************/

.top-nav-bar {
  width: 100%;
  background: $top-nav-background-color;
  height: 51px;
  display: flex;

  .logo-container {
    width: 240px;

    .logo {
      background-image: url('../img/monitor-icons/synectiks.png');
      width: 150px;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      margin-left: 45px;
    }
  }

  .search-box-container {
    padding-top: 8px;
    height: 48px;
    width: calc(100% - 520px);

    .gf-form--has-input-icon {
      margin-right: 0px;
      width: 100%;
    }

    .search-box {
      background-color: #ffffff;
      margin-right: 20px;
      border-color: #8392a7;
    }

    .search-backdrop {
      position: fixed;
      right: 0;
      left: 0;
      bottom: 0;
      top: 51px;
      z-index: 1040;
      background-color: #000;
      opacity: .75;
    }

    .search-menu {
      height: 250px;
      width: 100%;
      background: white;
      z-index: 1111;
      position: relative;
      top: 11px;
      ;
    }
  }

  .icon-container {
    display: flex;
    width: 240px;
    align-items: center;
    justify-content: space-around;
    margin: 0px 20px;

    .icon {
      cursor: pointer;
      font-size: 20px !important;
      color: $top-nav-icons-color;
      margin-left: 15px;

      &:hover {
        color: $top-nav-icons-hover-color;
      }
    }
  }
}